
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

html, body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background-color: #fff;
	animation: fadein 0.5s;
}

:root {
	font-size: 16px;
	color: #555;
	font-family: Roboto, sans-serif;
	-webkit-user-select: none;
}

* {
	box-sizing: border-box;
}

button {
	border: none;
	outline: none;
	background: transparent;
	cursor: pointer;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

input {
	border: none;
	outline: none;
	background-color: transparent;
}

iframe, textarea, input, .selectable {
	-webkit-user-select: text;
}

pre {
	overflow-x: scroll;
}



select {
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}

option {
	padding: 1em;
}

.sidebar-btn {
	position: relative;
	transition: background-color .2s ease-in-out;
}

.sidebar-btn::before {
	content: ' ';
	position:absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 3px;
	background-color: #fff;
	opacity: 0;
	transition: opacity .2s ease-in-out;
	will-change: opacity;
}

.sidebar-btn:hover {
	background-color: rgba(255,255,255,.3);
}

.sidebar-btn:hover::before {
	opacity: 1;
}

.fa--padd {
	padding-right: .5em;
}




.ReactTabs-border {
	width:1px;
	height: 2px;
	background-color: #3498db;
	position: absolute;
	bottom: 0;
	left: 0;
	transform-origin: left top;
	transition: transform .2s ease-in-out;
}

.ReactTabs {
	margin: 0 auto;
	opacity: .99;
}

.ReactTabs__TabList {
	border-bottom: 1px solid #ddd;
	display: flex;
	flex-direction: row;
	position: relative;
}

.ReactTabs__Tab {
	padding: .7em 1em;
	cursor: pointer;
	transition: background .2s ease-in-out;
}

.ReactTabs__Tab--selected {
	background: rgba(0,0,0,.08) !important;
	border-radius: 0 !important;
}

.ReactTabs__TabPanel {
	padding: 1em;
}

.ReactTabs__TabPanel--selected {

}

